<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="resourse/css/Welcomestyle.css">
	<title>Document</title>
</head>
</head>
<body>
	<header>
		<h1>Interfaz de Usuario</h1>
	</header>

<h1>el usuario conectado es:</h1>

	<div class="container">
		<div class="card">
			<h2>Título de la Tarjeta</h2>
			<p>Descripción de la tarjeta. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<button>Botón de Acción</button>
		</div>

		<div class="card">
			<h2>Título de la Tarjeta</h2>
			<p>Descripción de la tarjeta. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<button>Botón de Acción</button>
		</div>

		<div class="card">
			<h2>Título de la Tarjeta</h2>
			<p>Descripción de la tarjeta. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<button>Botón de Acción</button>
		</div>

		<div class="card">
			<h2>Título de la Tarjeta</h2>
			<p>Descripción de la tarjeta. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<button>Botón de Acción</button>
		</div>
	</div>
</body>
</html>